.info_container {
  margin: 45px 0;
  gap: 10px;
}
.info_shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--background-100);
  box-shadow: 2px 2px 4px 2px rgba(222, 222, 222, 0.25);
  margin: 0 20px;
  padding: 30px 20px;
}

.user_name_container {
  margin: 14px 0 30px;
  display: flex;
  gap: 2px;
  color: var(--title-400);
  align-items: center;
  font-family: Pretendard;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}

.name_position {
  position: relative;
  top: -2px;
}

.user_email_area {
  display: flex;
  padding: 4px 12px;
  margin-bottom: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--body-300);
  color: var(--body-900);
  gap: 12px;

  /* Body/Body-3 */
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
}

.progress_container {
  border-radius: 100px;
  background-color: var(--body-300);
  height: 10px;
  margin-top: 8px;
  position: relative;
  width: 100%;
}
